/*UNIVERSAL STYLES*/
.wrapper {
  padding: 20px;
}

.height-xs {
  height: 25px;
  background-color: #000;
}

.height-sm {
  height: 75px;
  background-color: #000;
}

.sm-gap {
  padding: 0px 25px;
}
